.background-testimonial {
  background: linear-gradient(135.79deg, rgba(0, 113, 0, 0.4) -86.83%, rgba(0, 11, 0, 0.4) 68.71%);
}

.background-hero {
  @apply pointer-events-none absolute;
  content: '';
  top: 0;
  left: 50%;
  width: 100vw;
  aspect-ratio: 5760 / 2599;
  background: url('/assets/background/hero.webp') center center / cover no-repeat;
  transform: translateX(-50%);
}

.background-footer {
  @apply pointer-events-none absolute;
  content: '';
  bottom: 0;
  left: 50%;
  width: 100vw;
  aspect-ratio: 5760 / 2720;
  background-image: url('/assets/background/footer-dark.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateX(-50%);
}
.background-footer[data-theme='light'] {
  background-image: url('/assets/background/footer-light.webp');
}
.background-footer[data-theme='dark'] {
  background-image: url('/assets/background/footer-dark.webp');
}

.background-ellipse {
  @apply pointer-events-none absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 100vw;
  aspect-ratio: 1025 / 405;
  background: url('/assets/background/ellipse.webp') center center / cover no-repeat;
}

.background-glow {
  @apply pointer-events-none absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 100vw;
  aspect-ratio: 1002 / 698;
  background-image: url('/assets/background/glow-green.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}
.background-glow[data-color='green'] {
  background-image: url('/assets/background/glow-green.webp');
}
.background-glow[data-color='blue'] {
  background-image: url('/assets/background/glow-blue.webp');
}
.background-glow[data-color='purple'] {
  background-image: url('/assets/background/glow-purple.webp');
}
.background-glow[data-color='orange'] {
  background-image: url('/assets/background/glow-orange.webp');
}
.background-glow[data-color='olive'] {
  background-image: url('/assets/background/glow-olive.webp');
}
