.button-neon {
  background: linear-gradient(180deg, #000b00 0%, #003300 232.94%);
  box-shadow:
    0 20px 40px -30px rgba(0, 0, 0, 0.8) inset,
    0 -40px 60px -30px rgba(0, 255, 100, 0.4) inset,
    0 -20px 30px -8px rgba(120, 255, 180, 0.5) inset,
    0 -9px 20px -3px rgba(255, 255, 255, 0.6) inset,
    0 0 12px -2px rgba(255, 255, 255, 0.8) inset;
  &:hover {
    background: linear-gradient(0deg, #00b84d 0%, #00993f 232.94%);
    box-shadow:
      0 -20px 40px -30px rgba(0, 0, 0, 0.8) inset,
      0 40px 60px -30px rgba(0, 255, 100, 0.4) inset,
      0 20px 30px -8px rgba(120, 255, 180, 0.5) inset,
      0 9px 20px -3px rgba(255, 255, 255, 0.6) inset,
      0 0 12px -2px rgba(255, 255, 255, 0.8) inset;
  }
}
