:root {
  --intro-in: 1500ms;
  --intro-out: 1500ms;
  --intro-duration: 2050ms;
  --delay-intro-top: 450ms;
}

.hide-text {
  overflow: hidden;
  @media (min-width: 1024px) {
    > * {
      transform: translate3d(0, 200%, 0);
    }
  }
}

.show-text {
  @media (min-width: 1024px) {
    > * {
      transform: translate3d(0, 0, 0);
      transition: transform var(--intro-duration) var(--ease-out-expo);
      transition-delay: var(--delay-intro-top);
    }
  }
}

.hide-button {
  transition:
    transform calc(var(--intro-duration) - 200ms) var(--ease-out-expo),
    opacity var(--intro-duration) var(--ease-out-expo);
  opacity: 0;
  transform: translate3d(0, 100%, 0);
}

.show-button {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
