.wrapper {
  height: 100vh;
  width: 100%;
  background-color: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}

.wrapper.out {
  transition: transform var(--intro-out) var(--ease-out-expo);
  transform: translate3d(0, -100%, 0);
  transition-delay: 1500ms;
}

.wrapper .start {
  transform: translate3d(0, 100%, 0);
}

.wrapper .relative {
  transition: transform var(--intro-out) var(--ease-out-expo);
  transform: translate3d(0, 100%, 0);
  transition-delay: calc(var(--intro-in) + 0ms);

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .ei {
  width: 50dvw;
  height: 50dvw;
}

@media (min-width: 1024px) {
  .wrapper .ei {
    width: 180px;
    height: 180px;
  }
}

.wrapper .show {
  transition: transform var(--intro-in) var(--ease-out-expo);
  transition-delay: calc(75ms);
  transform: translate3d(0, 0, 0);
}

.translate {
  /* desktop */
}

@media (min-width: 1024px) {
  .translate {
    transform: translate3d(0, -100%, 0);
    transition: transform var(--intro-out) var(--ease-out-expo);
  }
}

.mobile {
  /* mobile */
}

@media (max-width: 1023px) {
  .mobile {
    transform: translate3d(0, -105%, 0);
  }
}
