.transition {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--background);
  transform: translate(-100%, 0);
}

.page-wrapper {
  position: relative;
  z-index: 2;
}
